@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

/*navbar start*/
.navbar
{
    background: #FFFFFF;
    min-height: 85px;
    opacity: 0.9;
    /*box-shadow: 1px 1px 1px 1px #2c2b2b;*/

    /*box-shadow: 0 3px 6px rgba(0,0,0,0.206), 0 3px 6px rgba(0,0,0,0.203);*/

    box-shadow: 0px 1px 10px #C0C0C0;

}
.navbar .navbar-nav .nav-item .nav-link
{
    font-family: "Poppins", sans-serif;
    color: #2c2b2b;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 3px 15px;
    transition: 0.5s;
}
.navbar .navbar-nav .nav-item .nav-link:hover
{
    color: #823BFF;
}
/*navbar end*/
/*home section start*/
#home-section{
    background-image: url('/src/img/home-inner.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    min-height: 800px;
    margin-top: -85px;
}
#home-section .banner_text{
    margin-top: 200px;
}
#home-section .banner_text > h1{
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.3;
    color: #415094;
    font-family: "Poppins", sans-serif;
}

#home-section .banner_text > p {
    max-width: 65%;
    font-family: "Poppins", sans-serif;
    color: #666666;
    font-weight: 300;
    line-height: 1.929;
}
#home-section .banner_text .btn_1
{
    background-color: #7c32ff;
    box-shadow: 0 10px 20px 0 rgba(108, 39, 255, 0.3);
    margin-top: 40px;
    padding: 13.5px 25px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    /*background-image: linear-gradient(to left, rgb(124, 50, 255) 0%, rgb(199, 56, 216) 50%, rgb(124, 50, 255) 100%)*/
    background-image: linear-gradient(to left, #7c32ff 0%, #c738d8 50%, #7c32ff 100%);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    background-size: 200% auto;
    border: 1px solid transparent;
    margin-right: 16px;

    transition:  3s/*all 2s ease-in-out*/;
}
#home-section .banner_text .btn_1:hover,.btn_2:hover{
    background-image: linear-gradient(to right, #7c32ff 20%, #c738d8 60%, #7c32ff 50%);
    color: #fff !important;
}


#home-section .banner_text .btn_2
{
    margin-top: 50px;
    padding: 12px 25px;
    margin-right: 16px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    color: #415094;

    box-shadow: none;
    text-decoration: none;

    box-sizing: border-box;

    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #828bb2;

    transition: all .4s ease-in-out;
    background-size: 200% auto;
    font-size: 15px;
    font-weight: 500;




}

/*home-section end*/
