@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

/*navbar start*/
.navbar
{
    background: #FFFFFF;
    min-height: 85px;
    opacity: 0.9;
    box-shadow: 0px 1px 10px #C0C0C0;
}
.navbar .navbar-nav .nav-item .nav-link
{
    font-family: "Poppins", sans-serif;
    color: #2c2b2b;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 3px 15px;
    transition: 0.5s;
}
.navbar .navbar-nav .nav-item .nav-link:hover
{
    color: #823BFF;
}
/*navbar end*/
/*home section start*/
#home-section{
    background-image: url('/src/img/home-inner.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    min-height: 850px;
    margin-top: -85px;
}
#home-section .banner_text{
    margin-top: 200px;
}
#home-section .banner_text > h1{
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.3;
    color: #415094;
    font-family: "Poppins", sans-serif;
}

#home-section .banner_text > p {
    max-width: 65%;
    font-family: "Poppins", sans-serif;
    color: #666666;
    font-weight: 300;
    line-height: 1.929;
}
#home-section .banner_text .btn_1
{
    background-color: #7c32ff;
    box-shadow: 0 10px 20px 0 rgba(108, 39, 255, 0.3);
    margin-top: 40px;
    padding: 13.5px 25px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    /*background-image: linear-gradient(to left, rgb(124, 50, 255) 0%, rgb(199, 56, 216) 50%, rgb(124, 50, 255) 100%)*/
    background-image: linear-gradient(to left, #7c32ff 0%, #c738d8 50%, #7c32ff 100%);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    background-size: 200% auto;
    border: 1px solid transparent;
    margin-right: 16px;

    transition:  3s/*all 2s ease-in-out*/;
}
#home-section .banner_text .btn_1:hover,.btn_2:hover{
    background-image: linear-gradient(to right, #7c32ff 20%, #c738d8 60%, #7c32ff 50%);
    color: #fff !important;
}

#home-section .banner_text .btn_2
{
    margin-top: 50px;
    padding: 12px 25px;
    margin-right: 16px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    color: #415094;

    box-shadow: none;
    text-decoration: none;

    box-sizing: border-box;

    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #828bb2;

    transition: all .4s ease-in-out;
    background-size: 200% auto;
    font-size: 15px;
    font-weight: 500;

}
/*home-section end*/

/*features section start*/
#features-section{
    padding: 150px 0;
}
#features-section .our-features > h5
{
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 11px;
    color: #c738d8 ;
    font-family: "Poppins", sans-serif;
}
#features-section .our-features > h2{
    font-size: 36px;
    color: #415094;
    font-weight: 700;
    /*position: relative;*/
    margin: 30px 0 19px;
    padding: 0 36px;
    line-height: 1.25;
    font-family: "Poppins", sans-serif;
}
#features-section .our-features > p{
    color: #828bb2;
    font-weight: 300;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    line-height: 1.929;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
}


/*single feature*/
#features-section .single_feature{
    box-sizing: border-box;
    margin-top: 40px;
}
#features-section .single_feature .single_feature_icon
{
    background-image: url("/src/img/feature_icon_bg.png");
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    width: 90px;
    height: 68px;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    transition: 0.6s;
    line-height: 82px;
}

#features-section .single_feature .single_feature_icon > i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #7c32ff;
    font-size: 36px;
}
#features-section .single_feature > h4
{
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 30px;
    color: #415094;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
}
#features-section .single_feature > p
{
    line-height: 1.8;
    font-size: 16px;
    padding-right: 4px;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    color: #828bb2;
    font-weight: 300;
}
/*features section end*/
/*feature part video start*/
#feature_part_video
{
    padding: 50px 0;
}
#feature_part_video .video_section_text{
    padding-left: 65px;
}
#feature_part_video .video_section_text > h2{
    margin: 25px 0;
    word-break: break-word;
    font-size: 36px;
    color: #415094;
    font-weight: 700;
    line-height: 1.222;
    font-family: "Poppins", sans-serif;
}
#feature_part_video .video_section_text > img{
    clear: both;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
#feature_part_video .video_section_text > p{
    margin-top: 32px;
    font-family: "Poppins", sans-serif;
    line-height: 1.929;
    font-size: 16px;
    margin-bottom: 0;
    color: #828bb2;
    font-weight: 300;
}

.video_section{
    background: #9E51F4;
    width: 100%;
    height: 380px;
    border-radius: 10px;
}
.video_section > iframe
{
    z-index: -9999;
    width: 100%;
    height: 380px;
    opacity: 0.5;
    border-radius: 10px;
}
/*feature part video end*/

/*package section start*/
#package-section{
    margin: 50px 0;
}
#package-section .section_tittle {
    margin-bottom: 50px;
}
#package-section .section_tittle > h5{
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 11px;
    color: #c738d8 ;
    font-family: "Poppins", sans-serif;
}
#package-section .section_tittle > h2{
    font-size: 36px;
    color: #415094;
    font-weight: 700;
    /*position: relative;*/
    margin: 30px 0 19px;
    padding: 0 36px;
    line-height: 1.25;
    font-family: "Poppins", sans-serif;
}

#package-section .section_tittle > p{
    color: #828bb2;
    font-weight: 300;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    line-height: 1.929;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
#package-section .dashboard_img{
    box-sizing: border-box;
}

#package-section .dashboard_img > img{
    clear: both;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    max-width: 100%;
}
/*package section end*/

/*modules section start*/
#modules-section{
    background: #E4D9F9;
    padding: 80px 0;
}
#modules-section .modules_feature{
    width: 100%;
    height: auto;
    /*background: #fff;*/
    text-align: center;
    /*padding: 50px 23px;*/

    background-color: #fff;
    padding: 50px 35px 42px;
    border-radius: 10px;
    box-shadow: 2.088px 14.854px 40px 0 rgba(111, 54, 255, 0.2);
    margin-bottom: 30px;
    -webkit-transition: 0.5s;

    transition: 0.5s;
    position: relative;
    z-index: 1;

}
#modules-section .modules_feature:hover{
    margin-top: -15px;

    box-sizing: border-box;
    overflow: auto;

    background-image: linear-gradient(to left, #7c32ff 0%, #c738d8 50%, #7c32ff 100%);
}
#modules-section .modules_feature:hover > *{
    color: #fff;
}

#modules-section .modules_feature .modules_feature_icon
{
    background-image: url(/src/img/feature_icon_bg.png);
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    width: 90px;
    height: 68px;
    text-align: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    transition: 0.6s;
    line-height: 82px;
}

#modules-section .modules_feature .modules_feature_icon > i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #7c32ff;
    font-size: 36px;
}
#modules-section .modules_feature > h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    color: #415094;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
}
#modules-section .modules_feature > p{
    line-height: 1.8;
    font-size: 16px;
    padding-right: 4px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
    color: #828bb2;
    font-weight: 300;
}
/*modules section end*/

/*amazing section start*/
#amazing-section
{
    padding: 150px 0;
}
#amazing-section .amazing_section_tittle{
    margin-bottom: 74px;
    text-align: center;
}
#amazing-section .amazing_section_tittle > h5{
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 11px;
    color: #c738d8;
}
#amazing-section .amazing_section_tittle > h2{
    font-size: 36px;
    color: #415094;
    font-weight: 700;
    position: relative;
    margin: 30px 0 19px;
    padding: 0 36px;
    line-height: 1.25;
    word-break: break-word;
    font-family: "Poppins", sans-serif;
}
#amazing-section .amazing_section_tittle > p{
    margin-bottom: 15px;
    color: #828bb2;
    font-weight: 300;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    line-height: 1.929;
    font-size: 16px;
    box-sizing: border-box;
}


#amazing-section .amazing_feature{
    text-align: center;
    background-color: #fff;
    padding: 50px 10px 42px;
    border-radius: 10px;
    box-shadow: 0.696px 4.951px 20px 0px rgba(111, 54, 255, 0.2);
    margin-bottom: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /*position: relative;*/
    z-index: 1;
    box-sizing: border-box;
}

#amazing-section .amazing_feature:hover  {
    box-shadow: 0px 20px 20px 0px rgba(108, 39, 255, 0.3);
    margin-top: -15px;
    background-image: linear-gradient(to left, #7c32ff 0%, #c738d8 50%, #7c32ff 100%);
}

#amazing-section .amazing_feature:hover   > p {
    color: #fff;
}
#amazing-section .amazing_feature:hover > .single_amazing_icon > i {
    color: #fff;
}



#amazing-section .amazing_feature  .single_amazing_icon{
    display: inline-block;
}
#amazing-section .amazing_feature  .single_amazing_icon > i{
    color: #c738d8;
    font-size: 30px;
    transition: 0.6s;
    margin-bottom: 20px;
    display: inline-block;
    text-shadow: 0 10px 20px rgba(108, 39, 255, 0.3);
}
#amazing-section .amazing_feature  > p{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    color: #828bb2;
    box-sizing: border-box;
}
/*amazing section end*/

/*application section start*/
#application-section
{
    background-image: -webkit-linear-gradient(0deg, #7c32ff 0%, #c738d8 100%);
    padding: 100px 0;
}
#application-section .application-text > h5{
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 11px;
    font-family: "Poppins", sans-serif;
    margin-bottom: .5rem;
    text-align: center;
    color: #fff;
}
#application-section .application-text > h2{
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    margin: 30px 0 19px;
    padding: 0 36px;
    line-height: 1.25;
    word-break: break-word;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
#application-section .application-text > p{
    font-family: "Poppins", sans-serif;
    line-height: 1.929;
    font-size: 16px;
    margin-bottom: 80px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}



#application-section .application_feature{
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 200px 20px 87px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-sizing: border-box;
    word-break: break-word;
    height: auto;
    margin: 20px 0;

}
#application-section .application_feature .single_application_part{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#application-section .application_feature .single_application_part .single_application_icon {
    display: inline-block;
}
#application-section .application_feature .single_application_part .single_application_icon > i{
    font-size: 60px;
    margin-bottom: 37px;
    display: inline-block;
    color: #828bb2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    line-height: 1;
    box-sizing: border-box;
}
#application-section .application_feature .single_application_part > p > a{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
    color: #1F1F1F;
    outline: medium none;
    background-color: transparent;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 1.929;
    display: inline-block;
}
#application-section .application_feature .single_application_part > p > a:hover{
    color: #0056B3;
}
#application-section .application_feature:hover
{
    margin-top: -15px;
}
#application-section .application_feature:hover span > i {
    text-shadow: 0px 10px 5px rgba(130, 50, 252, 0.3);
    color: #7c32ff !important;
    /*background-image: linear-gradient(to top, #b937e0 0%, #7c32ff 100%);*/
}

/*application section end*/

/*footer section start*/
#footer-section{
    background-image: url('/src/img/footer_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 128px 0;
    min-height: auto;
}
#footer-section .footer_area_text > img{
    margin-bottom: 34px;
    clear: both;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
}
#footer-section .footer_area_text > h2{
    word-break: break-word;
    font-size: 36px;
    color: #415094;
    font-weight: 700;
    line-height: 1.222;
    font-family: "Poppins", sans-serif;
    margin: 20px 0;
}
#footer-section .footer_area_text > p{
    padding: 0 66px;
    font-family: "Poppins", sans-serif;
    line-height: 1.929;
    font-size: 16px;
    margin-bottom: 10px;
    color: #828bb2;
    font-weight: 300;
    box-sizing: border-box;
    text-align: center;

}

#footer-section .footer_area_text .footer_btn{
    text-align: left;
    box-shadow: 0px 20px 25px 0px rgba(130, 50, 252, 0.3);
    display: inline-block;
    border-radius: 50px;
    padding: 18px 67px 18px 91px;
    position: relative;
    margin-top: 44px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    background-size: auto 200%;
    background-image: linear-gradient(to top, #b937e0 0%, #7c32ff 50%, #b937e0 100%);
    text-decoration: none;
}



#footer-section .footer_area_text .footer_btn:hover{
    text-align: left;

    display: inline-block;
    border-radius: 50px;
    padding: 18px 67px 18px 91px;
    position: relative;
    margin-top: 44px;

    background-size: auto 200%;

    box-shadow: 0px 20px 20px 0px rgba(108, 39, 255, 0.3);

    background-image: linear-gradient(to left, #7c32ff 0%, #c738d8 50%, #7c32ff 100%);

    text-decoration: none;
}

#footer-section .footer_area_text .footer_btn > i{
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    left: 10px;
    top: 11px;
    margin-bottom: 0px;
    box-sizing: border-box;


    -webkit-transition: 0.8s;
    transition: 0.8s;
}


#footer-section .footer_area_text .footer_btn > h3{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
    line-height: 25px;
    font-family: "Poppins", sans-serif;


    -webkit-transition: 0.8s;
    transition: 0.8s;

}

#footer-section .footer_area_text .footer_btn > p{
    padding: 0;
    font-size: 11px;
    color: #d29dff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    line-height: 1.929;
    margin-bottom: 0;
    font-weight: 300;


    -webkit-transition: 0.8s;
    transition: 0.8s;
}

/*footer section end*/


/*contact section start*/
#contact-section{
    padding-top: 150px;
    margin: 0;
}
#contact-section .contact_title{
    color: #415094;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
    padding: 0;
    margin-bottom: 80px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
#contact-section .contact_area_text > h6{
    font-size: 1rem;
    box-sizing: border-box;
    color: #415094;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
    margin-bottom: .5rem;
    font-weight: 500;
    margin-top: 0;
}
#contact-section .contact_area_text .contact-text-elements > h6,a{

    font-size: 1rem;
    box-sizing: border-box;
    color: #415094;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em;
    margin-bottom: .5rem;
    font-weight: 500;
    margin-top: 0;
    text-decoration: none;
    display: inline-block;
}

#contact-section .contact_area_text .contact-text-elements > p{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 1.929;
    font-size: 16px;
    margin-bottom: 0px;
    color: #828bb2;
    font-weight: 300;
    margin-top: 0;
}

#contact-section .contact-box .btn_send_message{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    padding: 13.5px 45px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    /*-o-transition: all .4s ease-in-out;*/
    /*-webkit-transition: all .4s ease-in-out;*/
    /*transition: all .4s ease-in-out;*/
    text-transform: capitalize;
    background-size: 200% auto;
    border: 1px solid transparent;
    background-image: linear-gradient(to left, #7c32ff 0%, #c738d8 50%, #7c32ff 100%);
    box-shadow: 0px 10px 20px 0px rgba(108, 39, 255, 0.3);
}
/*contact section end*/
