@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap');
//header section start
//header top
body{
    font-family: 'Roboto', sans-serif;
}
#header-top-part{
    .top-icon-text-box{
        //margin-right: 42px;
        .top-icon{
            svg{
                width: 12px;
                height: 12px;
                color: #FD4949;
            }

            margin-right: 5px;
        }
        .top-icon-text{
            font-size: 12px;
            font-weight: 500;
            color: #182f7b;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    .hr-for-top{
        margin: 0;
        opacity: .1;
    }
    .header-pdn{
        padding: 10px 0;
    }
}
//main header
#header{
    .header_logo{
        img{
            width: 100%;
            height: auto;
        }
    }
    .header_search_box{
        .header_search_box_form{
            background: #F9F9FD;
            border: 1px solid #f1f1f1;
        }
        .search_field{
            background: #F9F9FD;
            width: 300px;
            border: none;
            outline: none;
        }
        .search_btn{
            color: #FD4949;
        }
    }


    .customer_login_register_box{
        .customer_icon{
            svg{
                color: #FD4949;
                width: 22px;
                height: 22px;
            }
        }
        .customer_box_text{
            color: #182f7b;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: none;
            transition: .5s;
        }
        .customer_box_text:hover{
            color: #FD4949;
        }
    }
}
//navbar
#navigation{
    .navbar{
        .collapse{
            .navbar-nav{
                .nav-item{
                    .menu-hover{
                        color: #182f7b;
                        font-size: 15px;
                        font-weight: 500;
                        margin: 0 18px;
                        padding: 8px 0;
                        display: inline-block;
                        text-transform: capitalize;
                        transition: .5s;
                    }
                    .menu-hover:hover{
                        color: #FD4949;
                    }
                }
            }
            .nav-icon-text-box{
                .nav-icon{
                    svg{
                        width: 18px;
                        height: 18px;
                        color: #FD4949;
                    }
                }
                .nav-icon-text{
                    font-size: 12px;
                    font-weight: 500;
                    color: #112258;
                    text-transform: capitalize;
                    text-decoration: none;
                }
            }
        }
        .category-dpd-btn{
            background: #FD4949;
            padding: 10px 30px;
            color: #fff;
            font-weight: 500;
            justify-content: space-between;
            .category-dpd-icon{
                margin-right: 10px;
            }
        }
        .category-dpd-area{
            position: relative;
            .category-dpd-menu{
                border-radius: 0;
                .category-dpd{
                    padding: 10px 0;
                    //position: relative;
                    .subcategory_box{
                        position: absolute;
                        top: 0;
                        left: 300px;
                        width: 600px;
                        height: auto;
                        background: #fff;
                        padding: 20px;
                        transition: .2s;
                        //opacity: 0;
                        display: none;
                        //display: flex;
                        //flex-wrap: wrap;
                        box-shadow: 2px 2px 20px 0 rgba(0,0,0,.05);
                        .subcategories{
                            .category{
                                font-weight: 600;
                                text-transform: capitalize;
                                color: #13245B;
                                text-decoration: none;
                                display: block;
                            }
                            .subcategory{
                                color: #687083;
                                display: block;
                                text-transform: capitalize;
                                padding: 5px 0;
                                text-decoration: none;
                                transition: .5s;
                            }
                            .subcategory:hover{
                                color: #FD4949;
                            }
                        }
                    }
                }
                .category-icon{
                    padding-right: 10px;
                    svg{
                        color: #00114D;
                        width: 20px;
                        height: 20px;
                        transition: .2s;
                    }
                }
                .category-dpd-icon-text{
                    color: #00114D;
                    padding: 11px 30px 0 0;
                    font-size: 15px;
                    font-weight: 500;
                }
                .dropdown-right-arrow{
                    svg{
                        color: #00114D;
                        transition: .1s;
                    }
                }
                .category-dpd:hover{
                    background: transparent;

                    .dropdown-right-arrow{
                        svg{
                            color: #FD4949;
                            margin-right: -5px;
                        }
                    }
                    .category-icon{
                        padding-right: 10px;
                        svg{
                            color: #FD4949;
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .subcategory_box{
                        position: absolute;
                        top: 0;
                        left: 100%;
                        display: block;
                        //opacity: 1;

                    }
                }
            }

        }
    }
}
//header section end

//product section start
#product{
    .product_heading{
        color: #00124e;
        font-size: 30px;
        font-weight: 700;
    }
    .product_all_text{
        color: #fd4949;
        text-transform: uppercase;
        font-weight: 500;
        svg{
            width: 20px;
            height: 20px;
        }
    }
    //product box area
    .product_box{

        position: relative;
        border: 1px solid #f1f1f1;
        .product_brand_name{
            text-transform: capitalize;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #687083;
            margin-bottom: 5px;
            display: block;
        }
        .product_name{
            font-size: 22px;
            font-weight: 700;
            color: #00124e;
            margin-bottom: 22px;
            transition: .3s;
            line-height: 1.44;
            text-align: center;
            display: block;
            text-decoration: none;
        }
        .product_name:hover{
            color: #fd4949;
        }
        .product_rating{
            text-align: center;
            margin-bottom: 20px;
            svg{
                color: #ffc107;
                height: 18px;
                width: 18px;
                margin: 0 1px;
            }
        }
        .product_price_box{
            text-align: center;
            .product_price{
                .discount_price{
                    color: #687083;
                    text-decoration: line-through;
                    font-size: 15px;
                    font-weight: 500;
                    transition: .3s;
                }
                .original_price{
                    color: #fd4949;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
            .add_to_cart_btn{
                transition: .3s;
                display: none;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                color: #fd4949;
            }
        }

        .favorite_box{
            position: absolute;
            top: 5%;
            left: 85%;
            padding: 12px;
            box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
            border-radius: 5px;
            transition: .3s;
            opacity: 0;

            .favorite_icon{
                display: block;
                text-decoration: none;
                border-bottom: 1px solid #f1f1f1;
                padding: 4px 0;
                transition: .3s;
                svg{
                    color: #000;
                    transition: .3s;
                    width: 17px;
                    height: 17px;
                }
            }
            .favorite_icon:hover{
                svg{
                    color: red;
                }
            }
            .favorite_icon:last-child{
                border-bottom: none;
            }
        }



    }
    .product_box:hover{
        .product_price{
            display: none;
        }
        .add_to_cart_btn{
            display: block;
        }
        .favorite_box{
            opacity: 1;
            left: 80%;
        }
    }
}
//product section end














/*responsive*/

@media screen and (max-width: 450px){
    .none450{
        display: none;
    }

}
@media screen and (max-width: 576px){


}
@media screen and (max-width: 768px){
    .none768{
        display: none;
    }

}
@media screen and (max-width: 992px){
    .none992{
        display: none;
    }
    #navigation{
        .navbar{
            .collapse{
                .navbar-nav{
                    .nav-item{
                        .menu-hover{
                            transition: none;
                            margin: 0 18px;
                            padding: 13.75px 0;
                        }
                    }
                }
            }
        }
    }





}
